extends ./layout.jade

block opengraph
  meta(property='og:url', content='https://quokka-the-lists.herokuapp.com/lists/preview/#{list.id}')
  meta(property='og:type', content='article')
  meta(property='og:title', content='#{list.title}')
  meta(property='og:description', content='#{list.description}')
  meta(property='og:image', content='#{list.image}')
  meta(property='og:image:width', content='500')
  meta(property='og:image:height', content='300')
  meta(property='fb:app_id', content='1641569646091283') 
  meta(property='og:site_name', content='RecomenDo')
  meta(property='fb:admins', content='100000807659130')
  meta(property='fb:app_id', content='1641569646091283') 

block js
  script(src='/libs/fb.js')
  script(src='/app/preview.js')
  link(rel='stylesheet', href='/css/preview.css')
  script(src='/libs/fancybox.js')
  script.
    $(function() {
      $("h2")
          .wrapInner("<span>")

      $("h2 br")
          .before("<span class='spacer'>")
          .after("<span class='spacer'>");
    });

block body
  body(ng-controller='previewController', ng-init='init(#{JSON.stringify(list)})')
    #fb-root
    include ./navmenu.jade
    .container(style='max-width:730px;')
      .row
        .image
          a.fancybox(ng-if='list.image' class="fancybox" rel="{{list._id}}" ng-href="{{list.image}}" ng-attr-title="{{list.title}}")
            img(ng-src='{{getPreviewImage(list.image)}}', alt='')
          h2
            | {{list.title}}
          p
            span {{list.description}}
      .row
        .author
          table(style='vertical-align: middle;')
            tr
              td(style='min-width: 70px')
                a(href='/users/profile/{{list.userId._id}}' title='{{list.userId.name}}')
                  img.img-circle.img-thumbnail.img-responsive(ng-src='http://graph.facebook.com/{{list.userId.facebookId}}/picture?width=70&height=70', alt='')
              td(nowrap)
                p
                  a(href='/users/profile/{{list.userId._id}}' title='{{list.userId.name}}') {{list.userId.name}}
              td(style='width: 100%; text-align: right;')
                .fb-share-button(data-href='https://quokka-the-lists.herokuapp.com/lists/preview/{{list._id}}', data-layout='button')
                //a(ng-href="https://www.facebook.com/sharer/sharer.php?u=https://quokka-the-lists.herokuapp.com/lists/preview/{{list._id}}" target="_blank")
                  | Share on Facebook
      .row
        .previewList
          ol
            li(data-ng-repeat="item in list.items | orderBy: 'orderId'")
              .text
                em {{item.title}} &nbsp;
                  a.listLink(ng-if='item.locationName' ng-href='http://maps.google.com/maps?q=loc:{{item.location[1]}},{{item.location[0]}}&z=15', target='_blank')
                    span.glyphicon.glyphicon-map-marker
                  a.listLink(ng-if='item.url' ng-href='{{item.url}}', target='_blank') 
                    span.glyphicon.glyphicon-link
                table
                  tr
                    td(style="padding-right: 10px; vertical-align: top;")
                      .image-cropper-70
                        a.fancybox(ng-if='item.image' class="fancybox" rel="{{list._id}}" ng-href="{{item.image}}" ng-attr-title="{{item.title}}")
                          img.img-round.rounded(ng-if='item.image', ng-src='{{getThumbnails(item.image, 70)}}' style='width:50px; align:left;')
                        img.img-round.rounded(ng-if='!item.image', src='http://dummyimage.com/50x50/5e5e5e/ffffff.png' style='width:50px;align:left;') 
                    td(width='100%')
                      | {{item.description}}
    include ./footer.jade