extends ./layout.jade

block opengraph
  meta(property='og:url', content='https://quokka-the-lists.herokuapp.com/lists/preview/#{list.id}')
  meta(property='og:type', content='article')
  meta(property='og:title', content='#{list.title}')
  meta(property='og:description', content='#{list.description}')
  meta(property='og:image', content='https://quokka-the-lists.herokuapp.com/img/logo.png')

block js
  script(src='/libs/fb.js')

block body
  body(ng-controller='previewController')
    #fb-root
    div(ng-if='profile.facebookId != undefined')
      nav.navbar.navbar-inverse
        .container-fluid
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='#') Quokka
          #myNavbar.collapse.navbar-collapse
            ul.nav.navbar-nav
              li
                a(href='/')
                  span.glyphicon.glyphicon-list
                  |  Lists
              li
                a(href='/bookmarks')
                  span.glyphicon.glyphicon-bookmark
                  |  Bookmarks
              li
                a(href='/search')
                  span.glyphicon.glyphicon-search
                  |  Search
            ul.nav.navbar-nav.navbar-right
              li.active
                a(href='/profile')
                  img.img-circle(width='25px', ng-src='http://graph.facebook.com/{{profile.facebookId}}/picture?type=square')
                  |  {{profile.email}}
              li
                a(href='/users/logout')
                  span.glyphicon.glyphicon-log-in
                  |  Logout
    div(ng-if='profile.facebookId == undefined')
      nav.navbar.navbar-inverse
        .container-fluid
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='#') Quokka
          #myNavbar.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li
                a(href='/auth/facebook')
                  span.glyphicon.glyphicon-log-in
                  |  Login
    .container(class='preview')
      .row
        .col-md-12.col-xs-12
          table(style='width:100%')
            tr
              td
                table(style='width:100%')
                  tr
                    td
                      h1 #{list.title}
                    td(style='width:30%; vertical-align: text-top; text-align: center;')
                      img.center-block.img-circle.img-thumbnail.img-responsive(src='http://graph.facebook.com/#{list.userId.facebookId}/picture?width=120&height=120', alt='')
                      br
                      .fb-share-button(data-href='https://quokka-the-lists.herokuapp.com/lists/preview/#{list.id}', data-layout='button_count')
            tr
              td
                ul 
                  each item in list.items
                    li
                      h3 #{item.title}
                      p #{item.description}
                      table
                        tr
                          td
                            if item.locationName
                              a.listLink(href='http://maps.google.com/maps?q=loc:#{item.location[1]},#{item.location[0]}&z=15', target='_blank')
                                span.glyphicon.glyphicon-map-marker
                          td
                            if item.url
                              a.listLink(href='#{item.url}', target='_blank') 
                                span.glyphicon.glyphicon-link
        // /col
      // /row
    // /container
    include ./footer.jade