extends ./layout.jade

block opengraph
  meta(property='og:url', content='https://quokka-the-lists.herokuapp.com/lists/preview/#{list.id}')
  meta(property='og:type', content='article')
  meta(property='og:title', content='#{list.title}')
  meta(property='og:description', content='#{list.description}')
  meta(property='og:image', content='https://quokka-the-lists.herokuapp.com/img/logo.png')

block js
  script(src='/libs/fb.js')
  script(src='/app/preview.js')
  link(rel='stylesheet', href='/css/preview.css')

block body
  body(ng-controller='previewController')
    #fb-root
    include ./navmenu.jade
    .container(class='preview')
      .row
        .col-md-12.col-xs-12
          table(style='width:100%')
            tr
              td(style='vertical-align: bottom;')
                h1 
                  b #{list.title}
                div
                    ul
                      each item in list.items
                        li
                          table
                            tr
                              td
                                h3
                                  b #{item.title}
                              td
                                if (item.locationName)
                                  h4 
                                    a.listLink(href='http://maps.google.com/maps?q=loc:#{item.location[1]},#{item.location[0]}&z=15', target='_blank')
                                      span.glyphicon.glyphicon-map-marker
                              td
                                if (item.url)
                                  h4
                                    a.listLink(href='#{item.url}', target='_blank') 
                                      span.glyphicon.glyphicon-link
                            p #{item.description}
              td(style='width:30%; vertical-align: text-top; text-align: center;')
                img.center-block.img-circle.img-thumbnail.img-responsive(src='http://graph.facebook.com/#{list.userId.facebookId}/picture?width=120&height=120', alt='')
                br
                .fb-share-button(data-href='https://quokka-the-lists.herokuapp.com/lists/preview/#{list.id}', data-layout='button_count')
        // /col
      // /row
    // /container
    include ./footer.jade